{% import "ArtesanusBundle::Components/buttons.html.twig" as btn %}

<form class="{{ class|default('form') }}" action="{% if action is defined %} {{ path(action) }} {% endif %} " method="{{ method|default('post') }}" {% if novalidate is defined %}{% if novalidate == true %}novalidate{% endif %}{% endif %}>
    {% block form %}{% endblock %}
    <div class="btn-group">
        {% if actions is defined %}
            {{ btn.submit('Save | Edit','edit','', 'edit') }}
            {{ btn.submit('Save | New', 'new', 'default', 'new') }}
            {{ btn.submit('Save | Close','close','default', 'close') }}
        {% else %}
            {{ btn.submit() }}
        {% endif %}
    </div>
</form>
