{% set _body = block('body')   %}

{%- macro _rows(type = 'thead', _rows) -%}

<{{ type }}>
    <tr>
        {% for row in _rows %}<th>{{ row }}</th>{% endfor %}
    </tr>
</{{ type }}>

{%- endmacro -%}

<table class="table table-{{ type|default('condensed') }}">

    {% import _self as _rows %}

    {{ _rows._rows('thead', rows ) }}

    {% if _body is not empty %}<tbody>{% block body %}{% endblock %}</tbody>{% endif %}

    {{ _rows._rows('tfoot', rows ) }}

</table>
