{% extends 'ArtesanusBundle::storage.html.twig' %}


{% block artesanus_section_subtitle %}{{ 'artesanus.subtitles.storage.categories'|trans({}, 'ArtesanusBundle') }}{% endblock %}

{% block artesanus_section_body %}

    {% embed "ArtesanusBundle::Components/col.html.twig" with { 'large': 3 }%}
        {% block col %}
            {% embed "ArtesanusBundle::Components/form.html.twig" %}
                {% block form %}
                    {{ form_widget(category_form) }}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}

    {% embed "ArtesanusBundle::Components/col.html.twig" with { 'large': 9 }%}
        {% block col %}
            {% embed "ArtesanusBundle::Components/table.html.twig" with { 'rows': ['#','Category','Slug','Description',''] }%}
                {% block tbody %}
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.category }}</td>
                        <td>{{ category.slug }}</td>
                        <td>{{ category.description }}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <a href="{{ path('artesanus_console_storage_category', {id: category.id }) }}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a {% if category.files|length !='' %} class="btn btn-default disabled" {% else %} href="{{ path('artesanus_console_storage_categories_delete', {id: category.id }) }}" class="btn btn-default" {% endif %} >
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
