{% extends 'ArtesanusBundle::storage.html.twig' %}


{% block artesanus_section_subtitle %}{{ 'artesanus.subtitles.storage.files'|trans({}, 'ArtesanusBundle') }}{% endblock %}

{% block artesanus_section_body %}

    {% embed "ArtesanusBundle::Components/col.html.twig" with { 'large': 3 }%}
        {% block col %}
            {% embed "ArtesanusBundle::Components/form.html.twig" %}
                {% block form %}
                    {{ form_widget(files_form) }}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}

    {% embed "ArtesanusBundle::Components/col.html.twig" with { 'large': 9 }%}
        {% block col %}
            {% embed "ArtesanusBundle::Components/table.html.twig" with { 'rows': ['#','File','Category','Type',''] }%}
                {% block tbody %}
                    {% for file in files %}
                    <tr>
                        <td>{{ file.id }}</td>
                        <td>{{ file.name }}</td>
                        <td>{{ file.categories.category|default('Uncategorized') }}</td>
                        <td>{{ file.type }}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <a href="{{ app.request.getSchemeAndHttpHost() }}/uploads/{{ file.categories.slug|default('Uncategorized') }}/{{ file.path }}" class="btn btn-default" target="_blank">
                                    <span class="glyphicon glyphicon-new-window"></span>
                                </a>
                                <a href="{{ path('artesanus_console_storage_files_remove', {id: file.id }) }}" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
