{% extends 'ArtesanusBundle::storage.html.twig' %}


{% block artesanus_section_subtitle %}{{ 'artesanus.subtitles.storage.files'|trans({}, 'artesanus') }}{% endblock %}

{% block artesanus_section_body %}

<div class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="" action="" method="post" {{ form_enctype(files_form) }}>
                {{ form_widget(files_form) }}
                <button type="submit" class="btn btn-default">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>

<div class="col-lg-9">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>File</th>
                <th>Category</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.name }}</td>
                <td>{{ file.categories.category|default('Uncategorized') }}</td>
                <td>{{ file.type }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <a href="{{ app.request.getSchemeAndHttpHost() }}/uploads/{{ file.categories.slug|default('Uncategorized') }}/{{ file.path }}" class="btn btn-default" target="_blank">
                            <span class="glyphicon glyphicon-new-window"></span>
                        </a>
                        <a href="{{ path('artesanus_console_storage_files_remove', {id: file.id }) }}" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>

                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}
