{% extends 'ArtesanusBundle::acl.html.twig' %}

{% block artesanus_section_subtitle %}{{ 'artesanus.subtitles.acl.users'|trans({}, 'ArtesanusBundle') }}{% endblock %}

{% block artesanus_section_plus %}
    {{ knp_menu_render('ArtesanusBundle:ConsoleBuilder:usersNewMenu', {'template': 'ArtesanusBundle:Menu:knp_menu.html.twig'}) }}
{% endblock %}

{% block artesanus_section_body %}

    {% import 'ArtesanusBundle::Components/buttons.html.twig' as btn %}

    {% embed "ArtesanusBundle::Components/table.html.twig" with { 'class': 'table table-hover', 'rows': fields }%}
        {% block tbody %}

            {% for entity in entities %}
            <tr>
                {% for field in fields %}
                {% if field is iterable %}
                    <td>{{ attribute(entity, field)|default()|date() }}</td>
                {% else %}
                    {% if field != null %}
                        <td>{{ attribute(entity, field)|default() }}</td>
                    {% endif %}
                {% endif %}

                {% endfor %}
                <td class="text-right">
                    <div class="btn-group">
                        <a href="{{ path(entityPrefix ~ '_edit', {id: entity.id }) }}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="{{ path(entityPrefix ~ '_delete', {id: entity.id }) }}" type="button" class="btn btn-danger btn-delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
